.clearBorder-ul-li {
    border-bottom: none !important;
}

.btnLogin {
    display: block !important;
    margin: 0 auto !important;
    text-align: center !important;
}

/*
    remove borfer between header and content in a jq page
}*/
.ui-bar-a {
    border: none !important;
}

.anchorBtnCenter {
    display: block !important;
    margin: 0 auto !important;
    width: 10% !important;
    text-align: center !important;
}

#loginPage {
    background: #054950 !important;
}

#containerIndex{
    background: #054950 !important;
}

.loginLogo {
    margin-top: 2% !important;
    text-align: center !important;
}

.groupBox-marginTop {
    margin-left: auto !important;
    margin-right: auto !important; 
    width: 80% !important;
    margin-top: 7% !important;
}

.activityLogContainer {
    padding: 2% !important;
}

.ui-checkbox {
    margin-top: 1% !important;
}

.btnLogAct {
    display: block !important;
    margin: 0 auto !important;
    text-align: center !important;
}

.headerIndex {
    margin-top: 0.5% !important;
    text-align: left !important;
    height: 44px !important;
}

#header {
    background: #054950 !important;
}

#footer {
    background: #054950 !important;
}

#logo{
    margin-top: 0.5% !important;
    margin-left: 1%;
    width: 20% !important;
    height: 87% !important;
}

.greenWhite {
    background: #2a656b !important;
    opacity: 1 !important;
    color: white !important;
}

.groupBoxHome .flexsliderHome {
    min-height: 25% !important;
    max-height: none !important;
    overflow: hidden !important;
}

#logout{
    float: right !important;
    margin-top: 11px !important;
    margin-right: 3% !important;
    color: white !important;
}

.buttonLogout {
    background: none !important;
}

.contact-us {
    background: #fff url(../img/home/contact-us-bg.jpg) no-repeat right bottom !important;
    overflow: hidden !important;
    margin-top: 10px !important;
}