.clearBorder-ul-li {
    border-bottom: none !important;
}

.btnLogin {
    display: block !important;
    margin: 0 auto !important;
    text-align: center !important;
}

/*
    remove border between header and content in a jq page
}*/
.ui-bar-a {
    border: none !important;
}

.anchorBtnCenter {
    display: block !important;
    margin: 0 auto !important;
    width: 10% !important;
    text-align: center !important;
}

#loginPage {
    background: #054950 !important;
}

#containerIndex{
    background: #054950 !important;
}

.loginLogo {
    margin-top: 2% !important;
    text-align: center !important;
}

.groupBox-marginTop {
    margin-left: auto !important;
    margin-right: auto !important; 
    width: 80% !important;
    margin-top: 7% !important;
}

.activityLogContainer {
    padding: 2% !important;
}

.ui-checkbox {
    margin-top: 1% !important;
}

.btnLogAct {
    display: block !important;
    margin: 0 auto !important;
    text-align: center !important;
}

.headerIndex {
    margin-top: 0.5% !important;
    text-align: left !important;
    height: 44px !important;
}

.ui-page {
    -webkit-backface-visibility: hidden;
}

#header {
    background: #054950 !important;
    position: fixed !important; 
    width: 100% !important; 
    z-index: 1 !important;
    bottom: 0 !important;
}

#container {
    width: 100% !important;
    height: 100% !important;
    background: #054950 !important;
}

#footer {
    background: #054950 !important;
    font-size: xx-small !important;
    position: fixed !important;
    z-index: 1 !important;
    bottom: 0 !important;
    width: 100% !important;
    border: 1px solid #222 !important;
    padding: 0 !important;
    text-align: center !important;
}

#logo{
    margin-top: 0.5% !important;
    margin-left: 1%;
    width: 20% !important;
    height: 87% !important;
}

.greenWhite {
    background: #2a656b !important;
    opacity: 1 !important;
    color: white !important;
}

.groupBoxHome .flexsliderHome {
    height: 30% !important;
}

#logout{
    float: right !important;
    margin-top: 11px !important;
    margin-right: 3% !important;
    color: white !important;
}

.buttonLogout {
    background: none !important;
}

.contact-us {
    background: #fff url(../img/home/contact-us-bg.jpg) no-repeat right bottom !important;
    overflow: hidden !important;
    margin-top: 10px !important;
}

.bottom {
    margin-bottom: 10px;
}

.imgActLog {
    width:100%;
    height: 40%;
    margin-top: 5px;
}

/*div#contActivity {
            position: absolute;
            width: 100%;
            top: 0;
            bottom: 0;
        }*/
 
        /*div[data-role="header"] {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
        }*/
 
        /*div[data-role="content"] {
            position: absolute !important;
            bottom: 0;
            left: 0;
            right: 0;
            top: 44px;
        }*/
 
        .scrollable {
            overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            
        }
 
            /* iOS specific fix, don't use it on Android devices */
        .scrollable > * {
            -webkit-transform: translateZ(0px);
        }
